In [ ]:
import pandas as pd
import numpy as np

# Sample data
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# dataframe
df = pd.DataFrame(exam_data , index=labels)

### 0. Visualize Dataframe

Print out the `head` of the newly created DataFrame

In [ ]:
# Code goes here!

### 1. Series
Write a Python program to add, subtract, multiple and divide two Pandas Series.

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [ ]:
# Code goes here!

### 2. DataFrame: Column Selection
Write a Python program to select the 'name' and 'score' columns from the following DataFrame.

In [ ]:
# Code goes here!

### 3. DataFrame: Filtering by row value
Write a Python program to select the rows where the score is greater than 10

In [ ]:
# Code goes here!

### 4. DataFrame: Update value
Write a Python program to change the score in row 'd' to 11.5.

In [ ]:
# Code goes here!

### 5. DataFrame: Append row
Write a Python program to append a new row `k` to data frame with given values for each column.

In [ ]:
# Code goes here!

Now delete the new row and return the original DataFrame.

In [ ]:
# Code goes here!

### 6. DataFrame: Create new column
Write a Python program to create a novel column containing the product of ``score`` and ``attempts``

In [ ]:
# Code goes here!

### 7. Grouping

Group records w.r.t. the ``qualify`` feature, then compute the mean of
- min, max, mean of the remaining features

In [ ]:
# Code goes here!

### 8. Subsets
Select the records indexed as ``a`` and ``b`` filtering in only th columns ``score`` and ``qualify``

In [ ]:
# Code goes here!