<span>
<img src="http://www.sobigdata.eu/sites/default/files/logo-SoBigData-DEFINITIVO.png" width="180px" align="right"/>
</span>
<span>
<b>Author:</b> <a href="http://about.giuliorossetti.net">Giulio Rossetti</a><br/>
<b>Python version:</b>  3.x<br/>
<b>Last update:</b> 12/12/2017
</span>

<a id='top'></a>
# *Python Basics*

This notebook contains an overview of basic Python functionality that you might come across using Python for Social Science Research.

**Note:** this notebook is purposely not 100% comprehensive, it only discusses the basic things you need to get started.

## Table of Contents

1. [Hello Wolrd!](#display)
2. [Variables](#variables)
3. [Numeric Operations](#numeric)
4. [Strings](#strings)
5. [Data Structures](#ds)
6. [Slicing](#slicing)
7. [Functions](#functions)
8. [Code Blocks](#blocks)
9. [Flow Control](#flow)
10. [Comprehensions](#comp)
11. [Exceptions](#exceptions)
12. [File Input/Output](#io)
13. [Importing Libraries](#libs)
14. [Zen of Python](#zen)

<a id='display'></a>
## 1. Hello World!  ([to top](#top))

Your first - one line - program: **"Hello World"**

In [1]:
print("Hello world!")

Hello world!

<a id='variables'></a>
## 2. Variables  ([to top](#top))

Basic numeric types in Python are ``int`` for integers and ``float`` for floating point numbers.

Strings are represented by ``str``, in Python 3.x this implies a sequence of Unicode characters.

In [1]:
a = 1
b = 0.5
c = 'Giulio'

In [2]:
type(a), type(b), type(c) # check variable type

(int, float, str)

In [3]:
isinstance(a, float) # test variable type

False

In [4]:
int(2.5), str(2), float(3) # type conversion

(2, '2', 3.0)

In [6]:
print("Have a nice class,", c)

Have a nice class, Giulio

<a id='numeric'></a>
## 3. Numeric operations  ([to top](#top))

In [7]:
5+2 # sum (subtraction, alike)

7

In [8]:
5/2 # division

2.5

In [9]:
5%2 # module

1

In [10]:
5//2 # integer division

2

In [11]:
5**2 # exponentiation

25

<a id='strings'></a>
## 4. String basics  ([to top](#top))

In [12]:
s = "This is a string"

In [13]:
l = s.split(" ")
l

['This', 'is', 'a', 'string']

In [14]:
r = s.replace("a", "THE")
r

'This is THE string'

In [15]:
s.lower()

'this is a string'

In [16]:
s.upper()

'THIS IS A STRING'

In [17]:
'Hi, my name is {}: I am {}'.format("Giulio", 33)

'Hi, my name is Giulio: I am 33'

<a id='ds'></a>
## 5. Data structures  ([to top](#top))

There are 4 basic data structures: lists (list), tuples (tuple), dictionaries (dict), and sets (set)

### Lists

Lists are enclosed in brackets

In [18]:
fruits = ['apple', 'banana', 'orange'] 
fruits.append('pineapple')
fruits

['apple', 'banana', 'orange', 'pineapple']

### Tuples

Tuples are enclosed in parentheses<br/>
**Note**: You cannot add or remove elements from a tuple but they are faster and consume less memory

In [19]:
fruits = ('apple', 'banana', 'orange')
fruits

('apple', 'banana', 'orange')

### Dictionaries

Dictionaries are build using curly brackets<br/>
**Note**: Dictionaries are unordered but have key, value pairs

In [3]:
student = {'name': 'Albert', 'age': 21, 'department': 'Computer Science' }
print(student['name'], student['age'], student['department'])

Albert 21 Computer Science

In [4]:
student['income'] = 50
del student['age']
student

{'department': 'Computer Science', 'income': 50, 'name': 'Albert'}

In [7]:
student.keys()

dict_keys(['name', 'income', 'department'])

In [6]:
'name' in student, 'age' in student

(True, False)

In [8]:
student.values()

dict_values(['Albert', 50, 'Computer Science'])

In [9]:
student.items()

dict_items([('name', 'Albert'), ('income', 50), ('department', 'Computer Science')])

### Sets

A set is like a list but it can only hold unique values

In [22]:
fruits1 = set(['apple', 'banana', 'orange'])
fruits2 = set(['kiwi', 'banana', 'melon'])

fruits1, fruits2

({'apple', 'banana', 'orange'}, {'banana', 'kiwi', 'melon'})

Many operations can be efficiently performed using sets

In [23]:
it = fruits1 & fruits2 # intersection
it

{'banana'}

In [24]:
un = fruits1 | fruits2 # union
un

{'apple', 'banana', 'kiwi', 'melon', 'orange'}

In [25]:
diff = fruits1 - fruits2 # difference
diff

{'apple', 'orange'}

### Combination

Data structures can be combined and nested

In [26]:
combo = ('apple', 'orange')
mix = {'fruit' : ['banana', 'pear'], combo: ('melon', 'kiwi')}
mix

{('apple', 'orange'): ('melon', 'kiwi'), 'fruit': ['banana', 'pear']}

<a id='slicing'></a>
## 6. Slicing  ([to top](#top))

If an object is ordered (such as a list or tuple) you can select on index

In [27]:
fruits = ['apple', 'banana', 'orange', 'pineapple', 'pear']

In [28]:
first_fruit = fruits[0]
first_fruit

'apple'

In [29]:
last_fruit = fruits[-1]
last_fruit

'pear'

In [30]:
subset = fruits[1:4] # By convention: left index included, rigth excluded
subset

['banana', 'orange', 'pineapple']

In [31]:
subset = fruits[:4] 
subset

['apple', 'banana', 'orange', 'pineapple']

**Note**: slicing also works on strings!

In [32]:
s = "Hello world!"
s[6:]

'world!'

<a id='functions'></a>
## 7. Functions  ([to top](#top))

A function takes *arguments* as input and defines logic to process these inputs (and possibly returns something).

In [33]:
def multiply(a, b):
    return a*b

The action expressed by **multiply** will only execute once you call it:

In [34]:
multiply(2, 3)

6

Function can also define default values for their arguments:

In [35]:
def multiply(a, b=5):
    return a*b

multiply(2)

10

In [36]:
multiply(2, b=3)

6

<a id='blocks'></a>
## 8. Code Blocks  ([to top](#top))

Indentations are required by Python to define blocks of code. <br/>
**Note**: code subsets have their own local scope, notice variable *a*:

In [37]:
def example():
    a = 'Layer 1'
    print(a)
    
    def layer_2():
        a = 'Layer 2'
        print(a)
 
    layer_2()

In [38]:
example()

Layer 1
Layer 2

<a id='flow'></a>
## 9. Flow Control  ([to top](#top))

Python, as all programming languages, defines primitives to allow flow control: conditional and cycles

### Conditional: If-Elif-Else

In [39]:
age = 25
if age == 20:
    print('A')
elif age < 20:
    print('B')
elif age >= 25:
    print('C')
else:
    print('D')

C

### Cycles: For loops

In [40]:
for num in range(0, 6, 2): # range(from, to, step)
    print(num)

0
2
4

In [41]:
list_fruit = ['Apple', 'Banana', 'Orange']
for fruit in list_fruit:
    print(fruit)

Apple
Banana
Orange

Looping over a list of tuples

In [42]:
tuple_in_list = [(1, 2), (3, 4)]
for a, b in tuple_in_list:
    print(a + b)

3
7

Looping over a dictionary

In [43]:
dictionary = {'one' : 1, 'two' : 2, 'three' : 3}
for k, v in dictionary.items():
    print(k, v)

two 2
three 3
one 1

### Cycles: While loops

You can also (infinitely) loop using while:

In [44]:
count = 0
while count < 4:
    print(count)
    count += 1

0
1
2
3

<a id='comp'></a>
## 10. Comprehensions  ([to top](#top))

Comprehension makes it easier to generate a list or dictionary using a loop.

### List comprehension

In [45]:
lst = [x + 2 for x in range(0,6)]
lst

[2, 3, 4, 5, 6, 7]

It is an alternative to:

In [46]:
lst = []
for x in range(0,6):
    lst.append(x + 2)
lst

[2, 3, 4, 5, 6, 7]

### Dict comprehension

In [47]:
ndt = {'num_{}'.format(x) : x + 5 for x in range(0,6)}
ndt

{'num_0': 5, 'num_1': 6, 'num_2': 7, 'num_3': 8, 'num_4': 9, 'num_5': 10}

It is an alternative to:

In [48]:
ndt = {}
for x in range(0,6):
    ndt['num_{}'.format(x)] = x + 5
ndt

{'num_0': 5, 'num_1': 6, 'num_2': 7, 'num_3': 8, 'num_4': 9, 'num_5': 10}

### Comprehension with conditions

In [49]:
lst = [x for x in range(0,6) if x%2==0]
lst

[0, 2, 4]

<a id='exceptions'></a>
## 11. Exceptions  ([to top](#top))

In Python when something *wrong* happens an exception is raised:

In [50]:
num_list = [1, 2, 3]
num_list.remove(4)

ValueError: list.remove(x): x not in list

You can catch exceptions using try and except:

In [51]:
try:
    num_list.remove(4)
except:
    print('ERROR!')

ERROR!

It is usually best practice to specify the error type to except:

In [52]:
try:
    num_list.remove(4)
except ValueError as e:
    print('Number not in the list')
except Exception as e:
    print ('Generic error')
finally:
    print('Done')

Number not in the list
Done

<a id='io'></a>
## 12. File Input/Output  ([to top](#top))

You can open a file with different file modes: <br/>
w -> write only <br/>
r -> read only <br/>
w+ -> read and write + completely overwrite file <br/>
a+ -> read and write + append at the bottom <br/>

In [53]:
with open('new_file.txt', 'w') as file:
    file.write('Content of new file. \nHi there!')

In [54]:
with open('new_file.txt', 'r') as file:
    file_content = file.read()
    
file_content

'Content of new file. \nHi there!'

In [55]:
print(file_content)

Content of new file.
Hi there!

In [56]:
with open('new_file.txt', 'a+') as file:
    file.write('\n' + 'New line')

In [57]:
with open('new_file.txt', 'r') as file:
    for line in file:
        print(line)

Content of new file.

Hi there!

New line

<a id='libs'></a>
## 13. Importing Libraries  ([to top](#top))

In [58]:
import math
math.sin(1)

0.8414709848078965

In [59]:
import math as mt
mt.sin(1)

0.8414709848078965

In [60]:
from math import sin
sin(1)

0.8414709848078965

<a id='zen'></a>
## 14. Zen of Python ([to top](#top))

When you have doubts just remember the "Zen of Python"

In [61]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!